-- HarPalJob.com Database Schema - Safe Version
-- Only creates new tables without dropping existing ones
-- Preserves existing jobs, categories, and other data

-- Check if tables exist before creating them
-- Users table (if not exists)
CREATE TABLE IF NOT EXISTS `Users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `firstName` varchar(255) NOT NULL,
  `lastName` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('user','admin') DEFAULT 'user',
  `phoneNumber` varchar(255) DEFAULT NULL,
  `isActive` tinyint(1) DEFAULT '1',
  `logoUrl` varchar(255) DEFAULT NULL,
  `companySince` int DEFAULT NULL,
  `companyName` varchar(255) DEFAULT NULL,
  `fcmToken` varchar(500) DEFAULT NULL COMMENT 'Firebase Cloud Messaging token for push notifications',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `role` (`role`),
  KEY `isActive` (`isActive`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Categories table (if not exists)
CREATE TABLE IF NOT EXISTS `categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text,
  `isActive` tinyint(1) DEFAULT '1',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`),
  KEY `isActive` (`isActive`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Companies table (if not exists)
CREATE TABLE IF NOT EXISTS `Companies` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `industry` varchar(255) NOT NULL,
  `size` varchar(255) NOT NULL,
  `location` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `founded` int DEFAULT NULL,
  `rating` float DEFAULT '0',
  `featured` tinyint(1) DEFAULT '0',
  `benefits` json DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `status` enum('active','pending','suspended') DEFAULT 'pending',
  `seoTitle` varchar(255) DEFAULT NULL,
  `seoDescription` text,
  `seoKeywords` varchar(255) DEFAULT NULL,
  `ogTitle` varchar(255) DEFAULT NULL,
  `ogDescription` text,
  `ogImageUrl` varchar(255) DEFAULT NULL,
  `canonicalUrl` varchar(255) DEFAULT NULL,
  `schema` json DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `status` (`status`),
  KEY `featured` (`featured`),
  KEY `industry` (`industry`),
  KEY `location` (`location`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Jobs table (if not exists)
CREATE TABLE IF NOT EXISTS `Jobs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `location` varchar(255) NOT NULL,
  `salary` varchar(255) DEFAULT NULL,
  `jobType` enum('full-time','part-time','contract','internship') NOT NULL,
  `experience` varchar(255) DEFAULT NULL,
  `skills` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive','draft') DEFAULT 'active',
  `employerId` int NOT NULL,
  `companyId` int NOT NULL,
  `imageUrl` varchar(255) DEFAULT NULL,
  `seoTitle` varchar(255) DEFAULT NULL,
  `seoDescription` text,
  `applyLink` varchar(255) DEFAULT NULL,
  `tags` varchar(255) DEFAULT NULL,
  `country` varchar(255) DEFAULT NULL,
  `isFeatured` tinyint(1) DEFAULT '0',
  `vacancy` int DEFAULT '1',
  `views` int DEFAULT '0',
  `position` varchar(255) DEFAULT NULL,
  `qualification` varchar(255) DEFAULT NULL,
  `industry` varchar(255) DEFAULT NULL,
  `applyBefore` datetime DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `jobs_slug` (`slug`),
  KEY `jobs_status_isFeatured_createdAt` (`status`,`isFeatured`,`createdAt`),
  KEY `jobs_status_jobType_location` (`status`,`jobType`,`location`),
  KEY `jobs_status_title_location` (`status`,`title`,`location`),
  KEY `employerId` (`employerId`),
  KEY `companyId` (`companyId`),
  CONSTRAINT `Jobs_ibfk_1` FOREIGN KEY (`employerId`) REFERENCES `Users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `Jobs_ibfk_2` FOREIGN KEY (`companyId`) REFERENCES `Companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Job Applications table (if not exists)
CREATE TABLE IF NOT EXISTS `job_applications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `jobId` int NOT NULL,
  `userId` int NOT NULL,
  `resumeUrl` varchar(255) NOT NULL,
  `coverLetter` text,
  `status` enum('pending','reviewing','shortlisted','rejected','hired') DEFAULT 'pending',
  `appliedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `reviewedAt` datetime DEFAULT NULL,
  `notes` text,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobId` (`jobId`),
  KEY `userId` (`userId`),
  KEY `status` (`status`),
  CONSTRAINT `job_applications_ibfk_1` FOREIGN KEY (`jobId`) REFERENCES `Jobs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `job_applications_ibfk_2` FOREIGN KEY (`userId`) REFERENCES `Users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Job Categories junction table (if not exists)
CREATE TABLE IF NOT EXISTS `job_categories` (
  `jobId` int NOT NULL,
  `categoryId` int NOT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`jobId`,`categoryId`),
  KEY `categoryId` (`categoryId`),
  CONSTRAINT `job_categories_ibfk_1` FOREIGN KEY (`jobId`) REFERENCES `Jobs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `job_categories_ibfk_2` FOREIGN KEY (`categoryId`) REFERENCES `categories` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Ads table (for static ads) - NEW TABLE
CREATE TABLE IF NOT EXISTS `Ads` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `adCode` text NOT NULL,
  `location` varchar(255) NOT NULL,
  `isActive` tinyint(1) DEFAULT '1',
  `adNetwork` varchar(255) DEFAULT NULL,
  `dimensions` varchar(255) DEFAULT NULL,
  `adType` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `name` (`name`),
  KEY `location` (`location`),
  KEY `isActive` (`isActive`),
  KEY `adNetwork` (`adNetwork`),
  KEY `adType` (`adType`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- AdsConfig table (for dynamic ads management) - NEW TABLE
CREATE TABLE IF NOT EXISTS `AdsConfigs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `environment` enum('test','production') DEFAULT 'test' NOT NULL,
  `banner` json NOT NULL,
  `interstitial` json NOT NULL,
  `rewarded` json NOT NULL,
  `native` json NOT NULL,
  `appOpen` json NOT NULL,
  `splash` json NOT NULL,
  `custom` json NOT NULL,
  `globalSettings` json NOT NULL,
  `updatedBy` int DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `environment` (`environment`),
  KEY `updatedAt` (`updatedAt`),
  KEY `updatedBy` (`updatedBy`),
  CONSTRAINT `AdsConfigs_ibfk_1` FOREIGN KEY (`updatedBy`) REFERENCES `Users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Analytics table - NEW TABLE
CREATE TABLE IF NOT EXISTS `Analytics` (
  `id` int NOT NULL AUTO_INCREMENT,
  `eventType` varchar(255) NOT NULL,
  `eventName` varchar(255) NOT NULL,
  `userId` int DEFAULT NULL,
  `pageUrl` varchar(255) DEFAULT NULL,
  `referrer` varchar(255) DEFAULT NULL,
  `userAgent` varchar(255) DEFAULT NULL,
  `ipAddress` varchar(255) DEFAULT NULL,
  `metadata` json DEFAULT NULL,
  `timestamp` datetime DEFAULT CURRENT_TIMESTAMP,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `eventType` (`eventType`),
  KEY `eventName` (`eventName`),
  KEY `userId` (`userId`),
  KEY `timestamp` (`timestamp`),
  KEY `pageUrl` (`pageUrl`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- About table - NEW TABLE
CREATE TABLE IF NOT EXISTS `Abouts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `description` text NOT NULL,
  `stats` json NOT NULL,
  `story` text NOT NULL,
  `mission` text NOT NULL,
  `values` json NOT NULL,
  `team` json NOT NULL,
  `seoTitle` varchar(255) DEFAULT NULL,
  `seoDescription` text,
  `seoKeywords` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive') DEFAULT 'active',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `title` (`title`),
  KEY `status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Contact table - NEW TABLE
CREATE TABLE IF NOT EXISTS `Contacts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `status` enum('pending','read','replied') DEFAULT 'pending',
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `email` (`email`),
  KEY `status` (`status`),
  KEY `createdAt` (`createdAt`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ContactInfo table - NEW TABLE
CREATE TABLE IF NOT EXISTS `ContactInfos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `content` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `icon` varchar(255) NOT NULL,
  `isActive` tinyint(1) DEFAULT '1',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `type` (`type`),
  KEY `isActive` (`isActive`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- FAQ table - NEW TABLE
CREATE TABLE IF NOT EXISTS `FAQs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `question` varchar(255) NOT NULL,
  `answer` text NOT NULL,
  `isActive` tinyint(1) DEFAULT '1',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `question` (`question`),
  KEY `isActive` (`isActive`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- WebsiteSettings table - NEW TABLE
CREATE TABLE IF NOT EXISTS `WebsiteSettings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `siteTitle` varchar(255) DEFAULT NULL,
  `siteDescription` text,
  `siteKeywords` text,
  `ogTitle` varchar(255) DEFAULT NULL,
  `ogDescription` text,
  `ogImageUrl` varchar(255) DEFAULT NULL,
  `favicon` varchar(255) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `siteTitle` (`siteTitle`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- SEO table - NEW TABLE
CREATE TABLE IF NOT EXISTS `SEOs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` enum('global','homepage','job-listing','companies','categories','about','contact') NOT NULL,
  `siteTitle` varchar(255) DEFAULT NULL,
  `siteDescription` text,
  `keywords` text,
  `robotsTxt` text,
  `sitemapEnabled` tinyint(1) DEFAULT '1',
  `googleAnalyticsId` varchar(255) DEFAULT NULL,
  `googleVerification` varchar(255) DEFAULT NULL,
  `bingVerification` varchar(255) DEFAULT NULL,
  `homepageTitle` varchar(255) DEFAULT NULL,
  `homepageDescription` text,
  `ogTitle` varchar(255) DEFAULT NULL,
  `ogDescription` text,
  `ogImage` varchar(255) DEFAULT NULL,
  `jobTitleTemplate` varchar(255) DEFAULT NULL,
  `jobDescriptionTemplate` text,
  `ogTitleTemplate` varchar(255) DEFAULT NULL,
  `ogDescriptionTemplate` text,
  `ogImageTemplate` varchar(255) DEFAULT NULL,
  `companiesTitle` varchar(255) DEFAULT NULL,
  `companiesDescription` text,
  `companiesOgTitle` varchar(255) DEFAULT NULL,
  `companiesOgDescription` text,
  `companiesOgImage` varchar(255) DEFAULT NULL,
  `categoriesTitle` varchar(255) DEFAULT NULL,
  `categoriesDescription` text,
  `categoriesOgTitle` varchar(255) DEFAULT NULL,
  `categoriesOgDescription` text,
  `categoriesOgImage` varchar(255) DEFAULT NULL,
  `aboutTitle` varchar(255) DEFAULT NULL,
  `aboutDescription` text,
  `aboutOgTitle` varchar(255) DEFAULT NULL,
  `aboutOgDescription` text,
  `aboutOgImage` varchar(255) DEFAULT NULL,
  `contactTitle` varchar(255) DEFAULT NULL,
  `contactDescription` text,
  `contactOgTitle` varchar(255) DEFAULT NULL,
  `contactOgDescription` text,
  `contactOgImage` varchar(255) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `type` (`type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- ===========================================
-- SEED DATA FOR NEW TABLES ONLY
-- ===========================================

-- Insert AdsConfig data (only if not exists)
COMMIT;
